{% extends 'TkGroupBundle::index.html.twig' %}

{% block stylesheets %}
 {{ parent() }}
 <link href="{{ asset('css/lists.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}

<div class="row" style="margin-top:30px; margin-bottom: 30px;">
	<div class="span6 flat-container">
		<div id="to-dos">
			<div class="flat-header">
				<div id="list-title">
					<h2>To-dos</h2>
				</div>
			</div>
			{% include 'TkListBundle:Todos:todos.html.twig' %}
		</div>
	</div>
	<div class="span6 flat-container">
		<div id="shopping-list">
			<div class="flat-header">
				<div id="list-title">
					<h2>Shopping-lists</h2>
				</div>
			</div>
			{% include 'TkListBundle:Shopping:shopping.html.twig' %}
		</div>
	</div>
</div>

{% endblock %}