<div id="inviteFacebookModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="flat-container">
		<div class="flat-header">
			<h3>Add friends from Facebook</h3>
		</div>

		<div>
			
		</div>

		<div class="flat-footer">
			<a href="">Add friends</a>
    		<a data-dismiss="modal" aria-hidden="true">Cancel</a>
		</div>

	</div>
</div>