{% set group = app.user.currentMember.tgroup %}

<div>
	{% render controller('TkGroupBundle:Default:sendInvitationEmail') %}	
	<p>or</p>
	<div>
		<a class="btn btn-primary" href="https://www.facebook.com/dialog/send?app_id=130641483808717&name=Click%20here%20to%20join%20my%20group%20on%20Twinkler&link=http://www.twinkler.co/invitation/{{group.id}}/{{group.invitationToken}}&redirect_uri=http://www.twinkler.co/group/send_invitation">Send Facebook Inbox</a>
	</div>
</div>